<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= image_tag 'profile.png', class: 'img-responsive', size: '160x160' %>
        <div class="intro-text">
          <span class="name">Foosballer</span>
          <span class="skills">Organize foosball tounaments with ease</span>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Features</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag 'cabin.png', class: 'img-responsive' %>
        </a>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag 'cake.png', class: 'img-responsive' %>
        </a>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag 'circus.png', class: 'img-responsive' %>
        </a>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag 'game.png', class: 'img-responsive' %>
        </a>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag 'safe.png', class: 'img-responsive' %>
        </a>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <%= image_tag 'submarine.png', class: 'img-responsive' %>
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="text-center">
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; 2014 - Nitin Misra
        </div>
      </div>
    </div>
  </div>
</footer>
